.App {
  text-align: center;
  min-height: 100vh;
  margin-top: 47px;
}

.App-logo {
  height: 60px;
  pointer-events: none;
  margin-right: 20px;
}

.logo-name {
  color: #2f3a4b;
  font-weight: bold;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.flex {
  display: flex;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.justify-around {
  justify-content: space-around;
}

.flex.justify-center {
  justify-content: center;
}

.flex.items-center {
  align-items: center;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #b1b1b9;
  padding: 0 24px;
  height: 50px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
}

input[type="text"]::placeholder {
  color: #b1b1b9;
}

.search-form {
  width: 100vw;
  margin: 40px 0 50px;
}

.search-input {
  max-width: 48.4%;
  margin-right: 10px;
}

.button {
  border: none;
  background: #385955;
  color: #fff;
  border-radius: 10px;
  height: 50px;
  padding: 0 45px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  offset: 0 5px;
}

.results {
  margin: 0 auto;
}

.results-list {
  /* display: grid;
  grid-template-columns: repeat(3, 400px [col-start]);
  column-gap: 30px;
  row-gap: 20px; */
  padding: 0;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 300px [col-start]);
    column-gap: 30px;
    row-gap: 20px;
  }

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 400px [col-start]);
    column-gap: 30px;
    row-gap: 20px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 400px [col-start]);
  }
}

.result-item {
  list-style: none;
  text-transform: capitalize;
}

.result-image {
  overflow: hidden;
  aspect-ratio: 16/9;
  border-radius: 20px;
}
.result-image img {
  max-width: 400px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.reult-label {
  width: 100%;
  text-align: left;
  padding-left: 15px;
  font-size: 24px;
  line-height: 29px;
}
